:root {
    --sl-content-width: 50rem;
    --sl-text-5xl: 3.5rem;
  }
  
  /* Custom styling specifically for GIFs in the wrapper */
/* .custom-gif-wrapper img {
  width: 300px;
  border-radius: 10px;
} */

/* src/styles/global.css */
img {
  max-width: 300px; /* Makes images responsive */
  border-radius: 10px;
  /* Additional styles */
}